// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
// import vraiables
@import "./helpers/variables";
// import mixins
@import "./helpers/mixins";
// global syles
*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
font-family: sans-serif,"Tahoma"

}
html{
font-family: 'HelveticaNeueLTArabic',sans-serif;

  overflow-x: hidden;
}
// center items 
.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
// make items space between 
.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// global button
.main-btn
{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #000;
    box-shadow: $main-box-shadow;
    background-color: $second-color;
    padding: .5em 1.5em;
    transition: .5s;
    cursor: pointer;
    &:hover{
        box-shadow: none;
    }
}
ul{
  margin-bottom: 0px;
}
// alone box
.article-content {
  &.alone {
    box-shadow: 3px 4px 0px 0px rgb(0 0 0);
    border: 1px solid #333;

    &:hover {
      background-color: $main-color;
      color: $second-color;
      box-shadow:none;

    }
    &:hover svg {
      fill: $second-color;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
}
// class for transtion between pages
.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

// main navigation
a{
  text-decoration: none;
}
// h2{
//   max-width: 9em;
//   font-size: 3rem;
//   @media (max-width: 768px) {
//     font-size: 2.6rem;
//   }
// }
.mt-2x-l{
  margin-top:calc(1.2875rem + 3.49412vw)
}
.mb-2x{
  margin-bottom: 30px;
}
.mt-2x{
  margin-top: 30px;
}
.mt-3x{
  margin-top: 40px;
}
.mb-3x{
  margin-bottom: 40px;
}
.main-pt{
padding-top: 40px;
}
.main-pb{
  padding-bottom: 40px;
}
.main-head{
  font-size: 2.9375rem;
  margin-bottom: 0px;
  font-weight: 600;
}
.main-bg-head{
  font-size: 3.25rem;
  margin-bottom: 0px;

}
.date-text{
  font-size: 14px;
}
.main-trans{
  transition:$main-trans ;
}
.main-border{
  border: 1px solid $main-color;
}
.align-item{
  display: flex;
  align-items: center;
}
.cursor-p{
  cursor: pointer;
}
.full-w{
  width: 100%;
}
.main-color{
color: $main-color  
}
.main-bg{
  background-color: $main-color
}
.main-hvr{
  @extend .m-shadow;
  cursor: pointer;
}
.backdrop{
  position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        width: 100%;
        background-color: rgba(51, 51, 51, 0.298);
        cursor: pointer;
}
.vhr-animation{
  position: relative;
  &::after{
   position: absolute;
   content: '';
   bottom: -5px;
   left: 50%;
   transform: translateX(-50%);
   background-color: $main-color;
   width: 0%;
   height: 2px;
   @extend .main-trans;
  } 
  &:hover::after{
   width: 100%;
  }
  &:hover{
   color: $main-color;
  }
}
.m-bigshadow{
  box-shadow: 9px 9px 0px 0px rgb(0 0 0);
}
.m-shadow{
  box-shadow: 3px 4px 0px 0px rgb(0 0 0);
}
a.article-content{
color: $main-color;
}